<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, user-scalable=no'>
  <meta name="msapplication-TileColor" content="#333333">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#333333">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/app/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/app/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/app/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="./assets/app/favicon.ico" />
  <link rel="manifest" href="./assets/app/manifest.json">
  <meta name="theme-color" content="#333333">
  <meta name="description" content="dorian ratovo - code + design">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="dovotori-app"></div>
  <noscript>
    <h4>In JS we trust</h4>
    <p>Ce site utilise javascript pour s'afficher. S’il vous plaît, reconsiderez votre choix de le désactiver, pour ce site
      en tout cas :) ou utiliser un
      <a href="https://www.mozilla.org/fr/firefox/new/">navigateur compatible comme celui ci</a>
    </p>
  </noscript>
</body>

</html>